# Habilitar el motor de reescritura una sola vez
RewriteEngine On

# 1. Forzar el uso de HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Prevenir el listado de directorios
Options -Indexes

# 3. Denegar el acceso a archivos de configuración y bases de datos
<FilesMatch "\.(inc|log|ini|env|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 4. Proteger contra inyecciones de código comunes (SQLi, XSS)
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule .* - [F]

# 5. Reglas para enrutar de forma segura a la carpeta pública
# Verifica si la solicitud no es a un archivo existente o un directorio
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Si no lo es, redirige a la carpeta FrontEnd/Public/
RewriteRule ^(.*)$ Frontend/Public/$1 [L]

# 6. Redirigir el acceso a la carpeta raíz al index.html
DirectoryIndex /Stock-Manager/Frontend/Public/index.html