body {
  background-color: red;
}
#contenido {
  margin: auto;
  width: 1024px;
  height: 1024px;
  background-color: aqua;
}
header {
  width: 100%;
  height: 200px;
  background-color: azure;
}
article{

}
footer{
  width: 100%;
  height: 100px;
  background: black;
}
nav ul li {
  width: 150px;
  height: 34px;
  border: 1px red;
  font-family: 'Arial', times, serif;
  font-size: 15px;
  padding-top: 3px;
  float: left;
  list-style: none;
}
